body {
  margin: 0;
  box-sizing: border-box;
  background: #F05033;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background: white;
  margin: 0 auto;
  padding: 20px;
}
